.navbar-default-jb {
  background-color: #fff;
  border-style: none;

}


.dropdown-menu {
  padding: 0px 0px;
  border: 0px solid rgba(0,0,0,.15);
  border-radius: 0px;
  box-shadow: none;
}

.form-control {
  border-radius: 0px;
}

.navbar-form {
  padding-right: 140px;
}

.image-heading-1 {
  position: relative;
}

.hl-heading {
  position: absolute; 
  top: 124px; 
  left: 30px; 
  width: 100%; 
}

.p-heading {
  position: absolute; 
  top: 180px; 
  left: 30px; 
  width: 100%;
  }

  .btn-default {
    position: absolute;
    top: 230px;
    left: 30px;
    color: #333;
    background-color: black;
    border-style: none;
    border-radius: 0px;
    color: white;
    font-size: 10px;
}