.navbar-default-jb {
  background-color: #fff;
  border-style: none;

}


.dropdown-menu {
  padding: 0px 0px;
  border: 0px solid rgba(0,0,0,.15);
  border-radius: 0px;
  box-shadow: none;
}

.form-control {
  border-radius: 0px;
}

.navbar-form {
  padding-right: 140px;
}

.image-heading-1 {
  position: relative;
  width: 100%;
}

h3 {
  color: black;
  text-shadow: none;
  font-size: 18px;
  text-align: left;
}

p {
  color: black;
  text-shadow: none;
  font-size: 12px;
  text-align: left;

}

button {
  background-color: black;
  border-style: none;
  font-size: 12px;
  padding: 8px 20px;
  text-align: left;
  display: block;
}

.carousel-caption {
  top: 28%;
  left: 12%;
}

.img-thumbnail {
  border: 0px;

}

.small-images {
  float: left;
  padding-left: 30px;
  padding-top: 30px;
}

.shop-link {
  font-size: 10px;
  color: skyblue;
  letter-spacing: 1.5px;
}
